{
   "owner":"",
    "owner_id":"",
    "token":"",
    "client_id":"",
    "bot_id":"",
    "version": "9.5-alpha",
    "beta":true,
    "osu_token":"",
    "osu_path":"./audio/osu/",
    "osu_username":"",
    "osu_password":"",
    "youtube_api":"",
    "proxer_api":"",
    "proxer_user":"",
    "proxer_pass":"",
    "discord_bots_token":"",
    "sentry_token":"",
    "shards":2,
    "yahoo_app_id":"",
    "admins":[
      ""
    ],
    "linux":false
}